{% extends "base.html.twig" %}

{% block title %}
Inscription
{% endblock %}

{% block body %}

<div class="container d-flex flex-column col-4 mt-4">

    <h1>Modifier vos données !!!</h1>

    {{ form_start(form)}}

{# Fait attention, les attributs que j'ai rejouté à mon formulaire sont inscript en JSON TYPE #}
{# Je le l'ai pas fait sur le email et user name car deja fait sur le fichier RegistrationType pour pas engorger la page twig #}
    
    {{form_row(form.lastname, {'label': 'Votre prénom', 'attr': {'placeholder' : '{{app.user.lastname}}'}})}}
    {{form_row(form.firstname, {'label': 'Votre prénom', 'attr': {'placeholder' : '{{app.user.firstname}}'}})}}
    {{form_row(form.adress, {'label': 'Votre adresse', 'attr': {'placeholder' : '{{app.user.adress}}'}})}}
    {{form_row(form.postalCode, {'label': 'Votre code postal', 'attr': {'placeholder' : '{{app.user.postalCode}}'}})}}
    {{form_row(form.city, {'label': 'Votre ville', 'attr': {'placeholder' : '{{app.user.city}}'}})}}
    {{form_row(form.phoneNumber, {'label': 'Votre numero de telephone', 'attr': {'placeholder' : '{{app.user.phoneNumber}}'}})}}
    {{form_row(form.username, {'label': 'Votre identifiant', 'attr': {'placeholder' : '{{app.user.username}}'}})}}
    {{form_row(form.email, {'label': 'Votre email', 'attr': {'placeholder' : '{{app.user.email}}'}})}}

    {{ form_widget(form)}}
<button class="btn btn-outline-success">Enregistrez vos modification</button>
    {{ form_end(form)}}

</div>

{% endblock %}