{% extends 'base.html.twig' %}

{% block title %}Inscription Pro{% endblock %}

{% block body %}

<div class="container d-flex flex-column col-4 mt-4">

    <h1>Inscrivez vous !</h1>

    {{ form_start(registrationForm)}}

{# Fait attention, les attributs que j'ai rejouté à mon formulaire sont inscript en JSON TYPE #}
{# Je le l'ai pas fait sur le email et user name car deja fait sur le fichier RegistrationType pour pas engorger la page twig #}


    {{form_row(registrationForm.lastname, {'label': 'Votre nom', 'attr': {'placeholder' : '{{app.user.lastname}}'}})}}
    {{form_row(registrationForm.firstname, {'label': 'Votre prénom', 'attr': {'placeholder' : '{{app.user.firstname}}'}})}}
    {{form_row(registrationForm.adress, {'label': 'Votre adresse', 'attr': {'placeholder' : '{{app.user.adress}}'}})}}
    {{form_row(registrationForm.postalCode, {'label': 'Votre code postal', 'attr': {'placeholder' : '{{app.user.postalCode}}'}})}}
    {{form_row(registrationForm.city, {'label': 'Votre ville', 'attr': {'placeholder' : '{{app.user.city}}'}})}}
    {{form_row(registrationForm.phoneNumber, {'label': 'Votre numero de telephone', 'attr': {'placeholder' : '{{app.user.phoneNumber}}'}})}}
    {{form_row(registrationForm.username, {'label': 'Votre identifiant', 'attr': {'placeholder' : '{{app.user.username}}'}})}}
    {{form_row(registrationForm.email, {'label': 'Votre email', 'attr': {'placeholder' : '{{app.user.email}}'}})}}

    {{ form_widget(registrationForm)}}
<button class="btn btn-outline-info">Modifier votre profil </button>
    {{ form_end(registrationForm)}}

</div>
{% endblock %}
