{% extends 'base.html.twig' %}

{% block title %}Hello ProfilePatient!{% endblock %}

{% block body %}

<div class="card d-flex flex-column justify-content-around container " style="width: 18rem;">
  <img src="..." class="card-img-top" alt="imageProfil">
  <div class="card-body">
    <h5 class="card-title">Profil du patient</h5>
    <p class="card-text"><em>Votre nom :</em> <strong> {{ app.user.lastname}} </strong> </p>
    <p class="card-text"><em>Votre Prenom :</em> <strong> {{ app.user.firstname}} </strong> </p>
    <p class="card-text"><em>Votre Adresse :</em> <strong> {{ app.user.adress}}</strong> </p>
    <p class="card-text"><em>Votre Code Postal :</em> <strong> {{ app.user.postalCode}} </strong> </p>
    <p class="card-text"><em>Votre Ville :</em> <strong> {{ app.user.city}} </strong> </p>
    <p class="card-text"><em>Votre numéro de téléphone :</em> <strong> {{ app.user.phoneNumber}} </strong> </p>
    <a href=" {{path('editProfilePatient')}}" class="btn btn-outline-warning">Modifier votre profil !</a>
    <a href=" {{ path('editProfilePassword')}}" class="btn btn-outline-danger">Modifier votre mot de passe !</a>
    <a href=" {{ path('home')}}" class="btn btn-outline-primary ">Retour sur la page d'acceuil </a>
  </div>
</div>

{% endblock %}
