{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}


    <h1>Inscription</h1>

<section class="container">
    <div class="row">
        <div class="col">
            {{ form_start(registrationForm) }}
                <fieldset>
                    <legend> Mon identité</legend>
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.adress) }}
                {{ form_row(registrationForm.postal_code) }}
                {{ form_row(registrationForm.phoneNumber) }}
                {{ form_row(registrationForm.speciality,{ label: 'Votre spécialité'} ) }}
                {# {{ form_row(registrationForm.expertises) }} #}
                </fieldset>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Votre mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-success">Inscrivez vous !</button>
    {{ form_end(registrationForm) }}
        </div>
    </div>
</section>

{% endblock %}
