{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ appointment.Title }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ appointment.start ? appointment.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ appointment.end ? appointment.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appointment_index') }}">back to list</a>

    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
