{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}

<div class="container d-flex flex-column justify-content-around ">
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Profil du Patient </h5>

    {% if appointment.patient.first == false %}
    <p>Pas de patient enregister sur ce créneau</p>
    {% else %}
    <h6 class="card-subtitle mb-2 text-muted">Ici vous verrez les données de l'utilisateur</h6>
    <p class="card-text">Nom : {{appointment.patient.first().lastname }}</p>
    <p class="card-text">Prenom : {{appointment.patient.first().firstname }}</p>
    <p class="card-text">Adresse : {{appointment.patient.first().adress }}</p>
    <p class="card-text">Code Postal : {{appointment.patient.first().postalCode }}</p>
    <p class="card-text">Ville : {{appointment.patient.first().city }}</p>
    <p class="card-text">Numéro de téléphone : {{appointment.patient.first().phoneNumber}}</p>
    <p class="card-text">Email : {{appointment.patient.first().email }}</p>
    {% endif %}
  </div>
</div>


    <div class="container d-flex flex-column justify-content-around ">
    <h1>Plus de détails sur le rendez vous en question </h1>

    <table class="table">
        <tbody>
            {% if appointment.patient.first == false %}
            <p>Aucun sujet n'a été donné</p>
            {% else %}
            <tr>
                <th>Sujet du rendez vous ?</th>
                <td>{{ appointment.Title }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Début du rendez-vous </th>
                <td>Le {{ appointment.start ? appointment.start|date('d-m-Y à H:i') : '' }} </td>
            </tr>
            <tr>
                <th>Fin du rendez-vous</th>
                <td>Le {{ appointment.end ? appointment.end|date('d-m-Y à H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-warning col-4" href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Modification du rendez vous ! </a>

    {{ include('appointment/_delete_form.html.twig') }}
    <a class="btn btn-success col-4" href="{{ path('app_appointment_index') }}">Retour à la liste de vos rendez vous </a>
    </div>
    </div>
{% endblock %}
