{% extends 'base.html.twig' %}

{% block title %}Liste des professionnes {% endblock %}

{% block body %}


    <h1 class="text-center"> Liste des professionnels inscrits ✅</h1>

    
{% for professionnal in professionnals %}

    <div class="card container d-flex flex-column justify-content-around mt-2" style="width: 30rem;">
        <img src="https://img.freepik.com/vecteurs-premium/icone-medecin-avatar-blanc_136162-58.jpg?w=826" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{ professionnal.lastname}} {{ professionnal.firstname}}</h5>
            <p class="card-text">Adresse : {{ professionnal.lastname}}</p>
            <p class="card-text">Code postal:  {{ professionnal.lastname}}</p>
            <p class="card-text">Ville : {{ professionnal.lastname}}</p>
            <p class="card-text">Spécialité : {{ professionnal.speciality.getSpecialityLabel}}</p>
            <p class="card-text">Expertise : {{ professionnal.expertises}}</p>

            <a href=" {{ path('show', {id : professionnal.id}) }}" class="btn btn-primary">En savoir plus </a>
            <a href="{{ path('contactPro', {id : professionnal.id}) }}" class="btn btn-info">Envoyez un email ?</a>
        </div>
    </div>

{% endfor %}


{% endblock %}
