{% extends 'base.html.twig' %}

{% block title %}Hello ProfessionnalListController!{% endblock %}

{% block body %}


    <h1 class="text-center"> Liste des professionnels inscrits ✅</h1>

    
{% for professionnal in professionnals %}


        
    
    <div class="card container d-flex flex-column justify-content-around " style="width: 40rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{ professionnal.lastname}} {{ professionnal.firstname}}</h5>
            <p class="card-text">Adresse : {{ professionnal.lastname}}</p>
            <p class="card-text">Code postal:  {{ professionnal.lastname}}</p>
            <p class="card-text">Ville : {{ professionnal.lastname}}</p>
            <p class="card-text">Êxpertise : {{ professionnal.expertises}}</p>
            <p class="card-text">Êxpertise : {{ professionnal.speciality.getSpecialityLabel}}</p>

            <a href="{{ path('newAppointment', {id : professionnal.id}) }}" class="btn btn-outline-primary">Prendre rendez vous ?</a>
        </div>
    </div>

{% endfor %}


{% endblock %}
